@model IEnumerable<DemoMVC.Models.Movie>



<h1></h1>

@{
    HttpCookie cookie = Request.Cookies["_culture"];
    var culture = "";
    if (cookie != null)
    {
        if (cookie.Value == "vi")
        {
            culture = "dd/MM/yyyy";
        }
        else
        {
            culture = "MM/dd/yyyy";
        }
    }
    else
    {
        culture = "dd/MM/yyyy";
    }
}
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
            <th>@Html.DisplayNameFor(model => model.Genre)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Rating)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Convert.ToDateTime(item.ReleaseDate).ToString(@culture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

    <tfoot>

    </tfoot>
</table>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>



