<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movies App</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .selected {
            background-color: gray;
        }

        .m-3 {
            margin: 4px 4px 4px 4px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Movies App", "Index", "Movies", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">

        <div class="container m-3">
            <a class="btn language" id="en" href="~/Movies/SetCulture?culture=en">English</a>
            <a class="btn language" id="vi" href="~/Movies/SetCulture?culture=vi">Tiếng Việt</a>
        </div>




        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    @{
        HttpCookie cookie = Request.Cookies["_culture"];
        var culture = "";
        if (cookie != null)
        {
            culture = cookie.Value;
        }
        else
        {
            culture = "vi";
        }
    }
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("a.language.selected").removeClass("selected");
            let culture = @culture;
            addSelected(culture.id);
        });

        function addSelected(culture) {
            $(`#` + culture).addClass("selected");
        }
    </script>

</body>
</html>
